<div class="container">
	<div class="screen">
		<div class="screen__content">
			<form #userForm="ngForm" (ngSubmit)="login()" class="login">
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="text" name="name" [(ngModel)]="user.name" class="login__input" placeholder="User name">
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input type="password" name="password" [(ngModel)]="user.password" minlength="6" required class="login__input" placeholder="Password">
				</div>
				<button class="button login__submit">
					<span class="button__text">Log In Now</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>				
			</form>
			<div class="snackBar" *ngIf="snack==false">
				<mat-form-field appearance="fill">
					<mat-label>Message</mat-label>
					<input matInput value="Disco party!" #message>
				  </mat-form-field>
				  
				  <mat-form-field appearance="fill">
					<mat-label>Action</mat-label>
					<input matInput value="Dance" #action>
				  </mat-form-field>
				  
				  <button mat-stroked-button (click)="openSnackBar(message.value, action.value)">Show snack-bar</button>
			</div>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>