.body {
    background-color: #eaeac9;
}

.main {
    text-align: center;
}

.content {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    gap: 30px;
    justify-content: center;
}

.articleContent {
    max-width: 25%;
    border: 1px solid;
    padding: 20px;
}

h2 {
    color: green;
}